{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
    <h1>{{ magasin.nom }}</h1>
    <h2>Articles</h2>
        <div class="articles">
            <table>
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Quantité</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for stock in magasin.stocks %}
                    <tr>
                    
                        {% if stock.quantite == 0 %}

                            <td style="text-decoration: line-through"><em>{{ stock.article.nom }}</em></td> 
                            <td style="text-decoration: line-through"><em>{{ stock.quantite }}</em></td> 

                        {% else %}

                            <td>{{ stock.article.nom }}</td>
                            <td>{{ stock.quantite }}</td> 

                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <td><a href="{{ path('commande_add', { 'id': stock.id }) }}">Commander</a></td>  
                                {% else %}
                                    <td><a href="{{ path('app_login') }}">Commander</a></td> 

                            {% endif %}

                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        

    <a href="{{ path('magasin_index') }}">Retour</a>
{% endblock %}
