{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
    <h1>{{ magasin.nom }}</h1>
    <h2>Articles</h2>
        <div class="articles">
            <ul>
                {% for stock in magasin.stocks %}
                    {% if stock.quantite == 0 %}
                        <li style="text-decoration: line-through"><em>{{ stock.article.nom }} - {{ stock.quantite }}</em></li> 
                    {% else %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>{{ stock.article.nom }} - {{ stock.quantite }} <a href="{{ path('commande_add', { 'id': stock.id }) }}">Commander</a></li> 
                    {% else %}
                        <li>{{ stock.article.nom }} - {{ stock.quantite }} <a href="{{ path('app_login') }}">Commander</a></li> 
                    {% endif %}
                        
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        

    <a href="{{ path('magasin_index') }}">back to list</a>

    <!-- <a href="{{ path('magasin_edit', {'id': magasin.id}) }}">edit</a> -->

    <!-- {{ include('magasin/_delete_form.html.twig') }} -->
{% endblock %}
